.DS_Store
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart
*.iml
*.iws
*.ipr
.idea/
.vscode/
*.swp
*.log
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/voiceassistant_android.iml
android/.idea/
android/.cxx/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
macos/Flutter/ephemeral/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
